extends ../layout.jade

block lead

block content
   div(class="ui container")
      - if(title != null && data != null)
         h2(class="ui header")= title
         div(class="ui raised text segment message" id="markdownArea")
            |!{data}
         
      - if((everyauth.loggedIn) && (everyauth.user.CanEditDocs == 1))
         h2(class="ui header") Edit Page
         div(class="ui raised text segment message")
            form(class="ui form" method="post" action="/docs/#{sub}")
               input(type="hidden" name="isNew" value="#{isNew}")
               div(class="field")
                  label Caption
                  input(type="text" name="pageTitle" placeholder="Page Title" value="#{title}")
               div(class="field")
                  label Page Content
                  textarea(rows=20 name="pageContent") #{content}
               button(class="ui button" type="submit") Save Changes
               
   script(type="text/javascript")
      | $(function() {
      |    $("#pageContent").find("table").addClass("ui celled table");
      | })
      |