extends ../layout.jade

block lead

block content
   div(class="ui container")
      h2(class="ui header") Post - #{post.Title}
      div(class="ui raised text segment message")          
         div(class="ui relaxed divided list")
            div(class="ui comments")
               h3(class="ui dividing header") Post Replies
               - for reply in replies
                  div(class="comment")
                     a(class="avatar")
                        img(src="/images/profile-icon.png")
                     div(class="content")
                        a(class="author")= reply.UserName
                        div(class="metadata")
                           span(class="date")= reply.CreatedOn.toUTCString()
                        div(class="text")
                           |!{markdownify(reply.Content)}
                        div(class="actions")
                           - if (everyauth.loggedIn && (post.CreatedBy == everyauth.user.Id))
                              a(class="Reply") Edit
                              a(class="Reply") Delete
         - if (everyauth.loggedIn)
            form(class="ui form" method="post" action="/forum/posts/#{post.Id}/addReply")
               div(class="field")
                  label Message
                  textarea(rows=15 name="replyContent")
               button(class="ui button" type="submit") Reply to Post